<div class ="container mb-5">
    <div class="row">
        <div class ="col-md-6 col-sm-12 my-auto">
            <h1> Welcome! </h1>
            <p> We are Pod 3 AKA<span style="background: #1d539f;color: white;margin: 0 2px;padding: 0 5px;border-radius: 2px;">{{site.title}}</span>for the July Major League Hacking Prep Program. Our group came together from all around the world to work on developing websites and applications we are passionate about. We strive to learn about new technologies, languages and frameworks, and apply our skills to real world projects with the amazing support of our Pod Team Leader Alex. Learn more about our members, the types of projects we are working on, and our contributions to them below! </p>        </div>
        <div class="col-md-5 col-sm-12 img-size my-auto">
            <img src="./assets/img/IMG_9880.PNG" class ="classpic cover">
        </div>
    </div>
</div>
