<div id="about"> 
    <h2>Meet the Pod</h2>
    <div class="card-container">
        {% for item in site.data.fellows %}
        {% if item.name %}
        <a href="/profile/{{ item.name }}">
        {% else %}
        <a>
        {% endif %}
            <div class="card">
                <div class="info">
                    <p class="title"> {{ item.name }}</p>
                    <p class="location"> {{ item.location }}</p>

                </div>
            </div>
        </a>
        {% endfor %}
    </div>