<div class="footer-clean">
  <footer>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-sm-4 col-md-3 item">
                  <h3><a href="#posts">Blog</a></h3>
                  <ul>
                      <li>Web design</li>
                      <li>Development</li>
                      <li>Hosting</li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3><a href="#about">About</a></h3>
                  <ul>
                      <li>Pod Leader</li>
                      <li>Pod Members</li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3><a href="#projects">Projects</a></h3>
                  <ul>
                      <li>Online Shopping App</li>
                      <li>Todo List</li>
                      <li>iOS App</li>
                  </ul>
              </div>
              <div class="col-lg-3 item social">
                <a href="https://github.com/MLH"><i class="icon ion-social-github"></i></a>
                <a href="https://twitter.com/MLHacks"><i class="icon ion-social-twitter"></i></a>
                <a href="https://www.linkedin.com/company/major-league-hacking/"><i class="icon ion-social-linkedin"></i></a>
                <a href="https://www.instagram.com/mlhacks/?hl=en"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright">MLH Prep July Pod 3 © 2022</p>
              </div>
          </div>
      </div>
  </footer>
</div>