<header class="nav-bar">
  <nav class="nav-content">
    <a href="{{ '/' | relative_url }}" class="nav-link">
      <div class="nav-logo">
        <img src="./assets/img/mlh-prep.png" />
      </div>
    </a>
    <ul class="nav-list">
      <li>
        <a href="#profile" class="nav-link">Pod Members</a>
      </li>
      <li>
        <a href="#project-section" class="nav-link">Projects</a>
      </li>
      <li>
        <a href="#posts" class="nav-link">Blog</a>
      </li>
    </ul>
  </nav>
</header>
