<header class="nav-bar navbar navbar-expand-lg">
    <div class="nav-content flex-fill w-100 flex-nowrap">
        <a href="{{ '/' | relative_url }}"></a>
                <div class="nav-logo">
                    <img src="./assets/img/mlh-prep.png" />
                </div>
        </a>
    </div>
    <div class=" ml-auto">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="label">
                <i class="fa fa-moon"></i>
                <i class="fa fa-sun"></i>
                <div class="ball"></div>
            </label>
    </div>         
    
</header>