<header class="nav-bar">
  <nav class="nav-content">
    <a href="{{ '/' | relative_url }}" class="nav-link">
      <div class="nav-logo">
        <img src="./assets/img/mlh-prep.png" />
      </div>
    </a>

    <ul class="nav-list">
      <li>
        <a href="#about" class="nav-link">Pod Members</a>
      </li>
      <li>
        <a href="#projects" class="nav-link">Projects</a>
      </li>
      <li>
        <a href="#posts" class="nav-link">Blog</a>
      </li>
    </ul>
    <div class="theme-btn">
      <input type="checkbox" class="checkbox" id="checkbox" autocomplete="off"/>
      <label for="checkbox" class="label">
        <i class="fa fa-moon"></i>
        <i class="fa fa-sun"></i>
        <div class="ball"></div>
      </label>
    </div>
  </nav>
</header>
