<script>
  if(localStorage.getItem("checkStatus") != null){
      checkbox.checked = localStorage.getItem("checkStatus");
  }
</script>

<div id="posts">
    <h2>Blog Posts</h2>
    <div class="card-container">
        {% for item in site.data.posts %}
        {% if item.page-name %}
        <a href="/posts/{{ item.page-name }}">
        {% else %}
        <a>
        {% endif %}
          <div class="card">
            <div class="info">
              <img src={{ item.img-link}} class ="img">
              <p class="title">{{ item.title }}</p>
              <p class="location">Written by {{ item.author }}</p>
              <p class="dates">{{ item.date }}</p>
              <p class="dates">tags: {{ item.tags }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
    </div>
  </div>