<div id="projects">
  <h2>Projects</h2>
  <div class="card-container">
      {% for item in site.data.projects %}
      {% if item.page-name %}
      <a href="/projects/{{ item.page-name }}">
      {% else %}
      <a>
      {% endif %}
        <div class="card">
          <div class="info">
            <p class="title">{{ item.title }}</p>
            <p class="location">{{ item.event }}</p>
            <p class="dates">{{ item.date }}</p>
           <p class="description">{{ item.description }}</p>
          <p class="tech-stack">Tech Stack: {{ item.tech-stack }}</p>
          <p class="developer">Developed by: {{ item.developer-name }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
  </div>
</div>