<div class="project-section" id="projects">
  <h2>Pod Member's Projects</h2>
  <div class="project-container">
      {% for item in site.data.projects %}
      <div class="content">
        <div class="content-user">
          <img src="./assets/img/fellows-pictures/{{item.author-name}}.jpg" alt="user" srcset="">
        </div>
        <div class="content-top">
          <div class="content-main-credits">
            <h3>
                <span>Developed by :</span><br/>
                {{item.author-name}}
            </h3>
          </div>
          <div class="content-img-overlay"></div>
          <img src="./assets/img/project-screenshots/{{item.author-name}}.jpg" alt="project image" class="content-img">
        </div>
        <div class="content-main">
            <h1 class="content-main-heading">
                {{item.project-name}}
            </h1>
            <p class="content-main-paragraph">
                {{item.brief-description}}
                <a href="/projects/{{ item.page-name }}" class="content-paragraph-link">
                    Read More...
                </a>
            </p>
            <div class="content-main-tags">
              {% for tech in item.technologies %}
                <span>{{tech}}</span>
              {% endfor %}

            </div>
            <div class="project-links">
              {% if item.live-site %}
              <a href="{{item.live-site}}" class="project-links-live"> Live Site </a>
              {% endif %}
              {% if item.github-url %}
              <a href="{{item.github-url}}" class="project-links-live"><i class="icon icon-link ion-social-github"></i></a>
              {% endif %}
            </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
