@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';

* {
  box-sizing: border-box;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}


body {
    transition: background 0.2 linear;
    background-color:#f5f5f9;
    margin-bottom:50px;
}

body.dark {
  background-color: #292c35;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}

body.dark h2 {
  color: #fff;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 30px;
    background-color: white;
    border-radius: .375rem;
    padding: 1.5em;
    font-size: 1.2em;
}

a {
    color: black;
}

body.dark a {
  color: #fff;
}

.info {
    p {
        margin-top: 5px;
        margin: 0px;
        text-align: left;
    }

    .title {
        font-size: 500;
        font-weight: bold;
    }

    .location, .description {
        font-size: medium;
        font-weight: 400;
    }

    .dates {
        font-size: small;
        color: #404040;
    }
}

.icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 10px;

    img {
        width: 100%;
    }
}

//dark mode toggle code starts here

.checkbox {
  opacity: 0;
  position: absolute;
}


.label {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 5px;
  position: relative;
  border-radius: 50px;
  height:26px;
  width: 50px;
  transform: scale(1.25);
}

.ball {

  background-color:#fff;
  border-radius:50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}