@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'leaderboard';
@import 'footer';
@import 'world-map';
@import 'projects';

html,body{
  height: 100%;
}

* {
  box-sizing: border-box;
}



.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

:root {
  --background-color: #f5f5f9;
  --text-color: #000;
  --background-color-card: white;
  --banner-new: #1d539f;
  --table-2n: rgb(228, 237, 247);
  --project-paragraph: #787575;
  --project-link: #1C4C94;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin-bottom:50px;
    transition: all 0.2s linear;
}

[data-theme="dark"] {
  --background-color: #423F3E;
  --text-color: #fff;
  --background-color-card: #2B2B2B;
  --banner-new: #133667;
  --table-2n: #63676a;
  --project-paragraph: #F9F3EE;
  --project-link: #A2D2FF;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--text-color);
    transition: all 0.2s linear;
}


.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 5px 15px 5px;
    background-color : var(--background-color-card);
    color: var(--text-color);
    transition: all 0.2s linear;
    border-radius: .375rem;
    padding: 1.5em;
    font-size: 1.2em;
    transition: background 0.2s linear;
}

a {
    color: var(--text-color);
    transition: all 0.2s linear;
}

.info {
  color: var(--text-color);
  transition: all 0.2s linear;

  p {
    margin-top: 5px;
    margin: 0px;
    text-align: left;
  }

  .title {
    font-size: 500;
    font-weight: bold;
  }

  .location,
  .description {
    font-size: medium;
    font-weight: 400;
  }
}

.container {
  p {
    transition: all 0.1s linear;
  }
  h1 {
    transition: all 0.2s linear;
  }

}

.socialmedia {
  list-style: none;
  margin:0px;
  padding:0px;
}
.icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 10px;

  img {
    width: 100%;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 5px;
  position: relative;
  border-radius: 50px;
  height:26px;
  width: 50px;
  cursor: pointer;
  transform: scale(1.25);
  transition: background 0.2s linear;
}

.ball {
  background-color:var(--background-color-card);
  border-radius:50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}


.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}
.categories {
  border: 7px;
  background-color: #e7e7e7;
  border-radius: 4px;
  color: #555555;
  margin-top: 5px;
}
