:root {
  --background-color: #f5f5f9;
  --text-color: #000;
  --background-color-card: white;
  --banner-new: #1d539f;
}

[data-theme="dark"] {
  --background-color: #423f3e;
  --text-color: #fff;
  --background-color-card: #2b2b2b;
  --banner-new: #133667;
}

.nav-bar {
  width: 100%;
  background-color: var(--banner-new);
  font-family: "Poppins", serif;
  font-weight: 700 !important;
  padding-top: 10px;
  transition: background 0.2s ease;
  position: relative;
  z-index: 1000000;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-content .logo-touch-target {
  display: inline-flex;
  height: 60%;
  width: 350px;
}

.nav-content .nav-logo {
  height: 60px;
  margin: auto;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-top: auto;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  margin: 0 1rem;
  position: relative;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover {
  color: rgb(222, 166, 62);
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

.theme-btn {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 1rem 2rem;
}

// .nav-content nav {
//   display: flex;
//   width: 100%;
//   text-align: right;
//   padding-top: 0px;
//   padding-right: 0px;
// }

.scrolling-active {
  position: fixed;
  background-color: var(--banner-new);
}

.scrolling-active .nav-content {
  flex-direction: row;
  justify-content: start;
}
