.profile {
  background-color: #133667 !important;
  text-align: center;
  height: fit-content;
  margin-bottom: 50px;
  h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
  }

  img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    object-fit: cover;
    object-position: 100% 20%;
  }

  .profile-picture {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
