:root {
    --background-color: #f5f5f9;
    --text-color: #000;
    --background-color-card: white;
    --banner-new: #1d539f;
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #fff;
    --background-color-card: black;
    --banner-new: #133667;
}

.profile {
    background-color: var(--banner-new) !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
    transition: background 0.3s linear;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
    
    img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: inline;        
        padding: 20px;
    }
    
    .profile-picture {
        margin-bottom: 30px;
        height: 200px;
    }
}
