@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@100;400&display=swap');



img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

h2,p{
    margin: 0;
}

.project-section{
    margin: 40px 0;

    h2{
        font-size: 40px;
    }
}

.project-container{
  display:grid;
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
   width: 80%;
   max-width: 1200px;
   margin: auto;
}


.content-user{
    position: absolute;
    width:60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1000;
    border: 3px solid white;
    right: -10px;
    top: -6%;

    img{
        border-radius: 50%;
    }
}

.content{
    font-family: 'Poppins', sans-serif;
    max-height: 400px;
    background-color: var(--background-color-card);
    color: var(--text-color);
    position: relative;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 1px 1px 24px rgba(0,0,0,0.1);
    transition: all 0.2s ease; 
    position: relative;

    &:hover{
        transform: scale(1.05);
        box-shadow: 1px 1px 64px rgba(0,0,0,0.2);
    }


}

.content-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#4486E9;
    opacity: 0.5;
    border-radius: 20px 20px 0 0;
}

h1{
    color:var(--text-color);
}

.content-top{
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    position: relative;
    height: 40%;
}

.content-main-credits{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    opacity: 0;
    transition:top 0.2s ease-in,opacity 1s ease;

}

.content-main-credits h3{
    font-size: 18px;
    text-align: center;
    font-family: monospace;
    span{
        font-size: 12px;
    }
}

.content:hover .content-main-credits{
    top: 0;
    opacity: 1;
} 



.content-img{
    border-radius: 20px 20px 0 0;
}

.content-main{
    height: 60%;
    padding: 1em ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-main-heading{
    font-size: 20px;
    color: var(--text-color);
    transition: all 0.2s ease;
    font-weight:800;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.content-main-paragraph{
    font-size: 11px;
    color: var(--project-paragraph);
    margin: 0;


    .content-paragraph-link{
        color: var(--project-link);
    }
}

.content-main-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;


    span{
        background-color: #ACADAD;
        color: #fff;
        font-size: 10px;
        padding: .5em 1em;
        border-radius: 26px;
    }
}



.project-links-live{
    color: var(--project-link);
    font-size: 14px;
}

.icon-link{
    margin:  0;
    font-size: 20px;

}

@media screen and (min-width:560px) {
    .project-container{
      display:grid;
      grid-template-columns: repeat(2,1fr);
   
    }
  }
  @media screen and (min-width:800px) {
    .project-container{
      display:grid;
      grid-template-columns: repeat(3,1fr);

    }
  }
  @media screen and (min-width:1100px) {
    .project-container{
      display:grid;
      grid-template-columns: repeat(4,1fr);

    }
  }



