.world-map {
    width: 90%; // resize inline svg here
    margin: auto;
    svg {
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
        .pin {
            cursor: pointer;
        }
    }
}
