---
layout: default
---

<div class="banner">
    
    <div class="container">
        <div class = "d-flex">
            <div>
                <div class="logo">
                    <a href="/">
                        <img src="/assets/img/logo.svg"/>
                    </a>
                </div>

                <div class="title">
                    {{ page.title }}
                </div>
            </div>
        
            <div class="toggle-button ml-auto">
                <input type="checkbox" class="checkbox" id="checkbox" autocomplete="off">
                <label for="checkbox" class="label">
                    <i class="fa fa-moon"></i>
                    <i class="fa fa-sun"></i>
                    <div class="ball"></div>
                </label>
            </div>
        </div>
        
    </div>
</div>

<div class="container page">
    {{ content }}
</div>

<script type="text/javascript" src = "../assets/js/main.js"></script>