---
layout: default
---

<div class="banner-blog">
    <div class="container">
        <div class="logo-blog">
            <a href="/">
                <img src="/assets/img/logo.svg"/>
            </a>
        </div>
    </div>
</div>

<div class="container page">
    <div class="title-blog">
        {{ page.title }}
    </div>
    <img src="{{page.hero}}">
    <div class="dates">
        {{ page.date | date: "%b %d, %Y" }}
    </div>
    <br>
    {{ content }}
    <div class="author">
        Written by {{ page.author }}
    </div>
    <div>
        Categories:
        <button class="categories">
            {{ page.categories }}
        </button>
    </div>
    <br>
    <br>
</div>