---
layout: default
---
<script>
    if(localStorage.getItem("checkStatus") != null){
        checkbox.checked = localStorage.getItem("checkStatus");
    }
</script>

<div class="banner-blog">
    <div class="container">
        <div class="d-flex">
            <div>
              <div class="logo-blog">
                <a href="/">
                  <img src="/assets/img/logo.svg" />
                </a>
              </div>
              <div class="title">User Profile</div>
            </div>
            
            <div class="toggle-button ml-auto">
              <input type="checkbox" class="checkbox" id="checkbox" autocomplete = "off">
              <label for="checkbox" class="label">
                  <i class="fa fa-moon"></i>
                  <i class="fa fa-sun"></i>
                  <div class="ball"></div>
              </label>
            </div>
          </div>
    </div>
</div>

<div class="container page">
    <div class="title-blog">
        {{ page.title }}
    </div>
    <img src="{{page.hero}}">
    <div class="dates">
        {{ page.date | date: "%b %d, %Y" }}
    </div>
    <br>
    {{ content }}
    <div class="author">
        Written by {{ page.author }}
    </div>
    <div>
        Categories:
        <button class="categories">
            {{ page.categories }}
        </button>
    </div>
    <br>
    <br>
</div>

<script type="text/javascript" src = "../assets/js/main.js"></script>